@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-word;
}
:root {
  --mainColor: #002b34;
}

* {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}
body {
  background: repeating-linear-gradient(
      -45deg,
      #00000055,
      var(--mainColor) 10%,
      #00000055 10%
    ),
    repeating-linear-gradient(
      45deg,
      #00000055,
      var(--mainColor) 10%,
      #00000055 10%
    );
  background-attachment: fixed;
  background-size: 200px 200px;
}
.cv {
  margin: 50px auto;
  /* width: 90%; */
  /* max-width: 1000px; */
  /* min-width: 700px; */
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #00000033;
  /* background-color: #eeeeee; */
  overflow: hidden;
}

.body {
  background-color: #eeeeee;
}

.header {
  /* display: flex; */
  align-items: stretch;
  background-color: var(--mainColor);
  margin: 0;
}

.header,
.header * {
  color: #ffffff;
}

.light {
  color: #ffffff99;
}

.profile-pic-wrapper {
  margin: 0;
  min-height: 350px;
  background-image: url(./assets/img/profile-pic.jpg);
  min-width: 220px;
  max-width: 300px;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 992px) {
  .cv {
    margin: 0;
    border-radius: 0;
    width: 100%;
    min-width: none;
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  .profile-pic-wrapper {
    min-height: 550px;
    max-width: none;
  }

  .info {
    padding: 30px 30px 0 30px;
  }
  .contact-info {
    padding: 30px;
  }
}

.profile-pic {
  height: 100%;
  width: auto;
}

.info {
}

.contact-info {
  padding-right: 15px;
}

.contact-icon {
  width: 25px;
}

.row {
  display: flex;
  flex-direction: row;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
}

.contact-value {
  padding-left: 10px;
}

.sep {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}
.sep-title {
  border-bottom: 5px solid var(--mainColor);
  display: inline-block;
  margin-bottom: -1px;
  padding-bottom: 5px;
}
.sep-line {
  width: 100%;
  height: 1px;
  background-color: var(--mainColor);
}

.body {
  padding: 10px;
}

#summary {
  text-align: justify;
}

#skills {
  display: flex;
  justify-content: space-evenly;
}

#skills ul {
  padding-left: 30px;
}

.card {
  border-radius: 25px;
  padding: 5px;
  /* background-color: #ffffff; */
  /* border: 1px solid #dddddd; */
  display: flex !important;
  flex-direction: row;
  margin-top: 5px;
}
.card ul {
  margin-left: 0;
}
.industrial-card-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  /* border: 1px solid var(--mainColor); */
  border-radius: 10px;
  margin: 5px 10px 0 5px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}

.lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  margin: auto;
}

.progress {
  background-color: #cccccc;
  /* height: 15px; */
  width: 150px;
  margin-left: 10px;
}
/*
.progress-val {
  background-color: var(--mainColor);
  height: 15px;
  width: 150px;
  border-radius: 20px;
  overflow: hidden;
} */
.samplework-card {
  /* width: 33%; */
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column !important;
}

.samplework-screenshot {
  width: 100%;
  height: auto;
  border-radius: 0 0 10px 10px;
}

.sampleworks-screenshots {
  /* display: flex; */
  /* flex-flow: row wrap; */
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 5px;
}

.container {
  padding: 0 !important;
}

@keyframes pulse {
  0% {
    box-shadow: none;
    background-color: tomato;
    color: white;
    transform: rotateZ(3deg);
  }
  50% {
    box-shadow: 0px 0px 10px black;
    background-color: white;
    color: black;
    transform: rotateZ(-3deg);
  }
  100% {
    box-shadow: none;
    background-color: tomato;
    color: white;
    transform: rotateZ(3deg);
  }
}

.view-online-demo-btn {
  animation-name: pulse;
  animation-delay: 0;
  animation-duration: 0.5s;
  /* animation-timing-function: linear; */
  animation-iteration-count: infinite;
  border: none;
  outline: none !important;
  padding: 5px;
  border-radius: 5px;
  background-color: #ea4c46;
  border: 2px solid gold;
  color: white;
}

.view-online-demo-btn:hover {
  animation: none;
  opacity: 0.5;
}
